/*----------bootstrap-navbar-css------------*/
.navbar-mainbg {
  /* background-color: #5161ce; */
  /* background-color: #5901cb; */
  background: linear-gradient(to bottom, #782cdb, #350178);
  padding: 0px;
  width: 100%;
}

#navbarSupportedContent ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

#navbarSupportedContent ul li {
  flex: 1;
  text-align: center;
}

#navbarSupportedContent ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight: 500;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent ul li a:hover {
  cursor: pointer;
}

#navbarSupportedContent > ul > li.active > a {
  color: #350178;
  background-color: transparent;
  transition: all 0.7s;
  font-weight: bold;
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 2px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.jeet-nischay {
  width: 100%;
  text-align: center;
  color: rgb(232, 1, 1);
  font-weight: 700;
  animation: fontMorph 3s infinite alternate ease-in-out;
}

@keyframes fontMorph {
  25% {
    font-weight: 800;
    letter-spacing: 0.1em;
  }
}

.title-box {
  width: 100%;
  /* background-color: #2638ac; */
  background: linear-gradient(to bottom, #4054d4, #101d71);
  border: 1px solid #000;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  padding: 0.25rem;
  margin: 0;
}

/* Flex container for content */
.title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
}

/* Circles on sides */
.circle {
  width: 50px;
  height: 50px;
  background-color: #dc3545;
  border-radius: 50%;
}

/* Title Text */
.title-text {
  text-align: center;
}

.title-text h3 {
  margin: 0;
}

.title-text h3 span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  animation: fillRed 2.5s infinite;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0px;
}

/* Stagger animation for each letter */
.title-text h3 span:nth-child(1) {
  animation-delay: 0s;
}

.title-text h3 span:nth-child(2) {
  animation-delay: 0.1s;
}

.title-text h3 span:nth-child(3) {
  animation-delay: 0.2s;
}

.title-text h3 span:nth-child(4) {
  animation-delay: 0.3s;
}

.title-text h3 span:nth-child(5) {
  animation-delay: 0.4s;
}

.title-text h3 span:nth-child(6) {
  animation-delay: 0.5s;
}

.title-text h3 span:nth-child(7) {
  animation-delay: 0.6s;
}

.title-text h3 span:nth-child(8) {
  animation-delay: 0.7s;
}

.title-text h3 span:nth-child(9) {
  animation-delay: 0.8s;
}

.title-text h3 span:nth-child(10) {
  animation-delay: 0.9s;
}

.title-text h3 span:nth-child(11) {
  animation-delay: 1s;
}

.title-text h3 span:nth-child(12) {
  animation-delay: 1.1s;
}

.title-text h3 span:nth-child(13) {
  animation-delay: 1.2s;
}

.title-text h3 span:nth-child(14) {
  animation-delay: 1.3s;
}

/* Keyframes for continuous fill */
@keyframes fillRed {
  0%,
  30% {
    color: white;
  }

  50% {
    color: orange;
  }

  100% {
    color: whitesmoke;
  }
}

/* Fix dropdown behavior to overlap navbar */
.navbar .dropdown-menu {
  position: absolute; /* Ensure it overlays */
  top: 100%;          /* Position right below the nav item */
  left: 0;
  z-index: 1050;      /* Sit above navbar */
  display: none;
  /* background-color: #350178; your purple tone */
  background-color: #441583; /* your purple tone */
  border: none;
  border-radius: 0 0 10px 10px;
  min-width: 8rem; /* control width */
  padding: 0.3rem 0;
}

/* Show dropdown on toggle (Bootstrap handles this class) */
.navbar .dropdown.show .dropdown-menu {
  display: block;
}

/* Dropdown items */
.navbar .dropdown-item {
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-item:hover {
  background-color: #782cdb;
  color: #fff;
}
